.container {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 576px) {
    max-width: 100%;
  }
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  &-fluid {
    min-width: 100%;
    padding: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-width: 1px;
  max-width: 5rem;
  background-color: transparent;
}
button:active,
button:hover {
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
}

.loading-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  svg {
    animation: spinner 5000ms linear infinite;
    fill: #0059df;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.confirmDiv {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  display: none;

  &-anim {
    display: block;
    animation: confirmation 2000ms ease-in-out infinite;
  }

  svg {
    stroke: #0059df;
  }
}
@keyframes confirmation {
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
